version: '3.8'

services:
  web:
    build: .
    ports:
      - "80:8080"
      - "8000:8080"
    environment:
      - PORT=8080
      - DATABASE_URL=postgresql://mist_user:mist_pass@db:5432/learnmistschool
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=mist_user
      - POSTGRES_PASSWORD=mist_pass
      - POSTGRES_DB=learnmistschool
    ports:
      - "5440:5432"
    restart: always

volumes:
  postgres_data:
